$linkedinBlue1: #0072b1;
$linkedinBlue2: #0073b1;
$linkedinBlue3: #004c75;

.common-btn {
  width: 200px;
  height: 30px;
  cursor: pointer;
  background-color: whitesmoke;
  border: 2px solid #1779aa;
  color: #1779aa;
  font-family: system-ui;
  font-weight: 600;
  font-size: 14px;
  border-radius: 30px;
  margin: 10px 0;
}
.common-btn:hover {
  background-color: rgb(230, 230, 230);
  border: 2px solid #014488;
  color: #014488;
}
