.topbar-main {
  width: 100%;
  height: 70px;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
}

.linkedin-logo {
  width: 65px;
  margin-left: 20px;
}

.user-logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  right: 20px;
  cursor: pointer;
}
.react-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 55%;
  margin-left: 30px;
}

.react-icon {
  cursor: pointer;
  color: #5e5e5e;
}

.react-icon:hover {
  color: black;
  cursor: pointer;
}

.popup-position {
  position: absolute;
  right: 10px;
  top: 65px;
  z-index: 99;
}

.search-results {
  width: 290px;
  max-height: 300px;
  min-height: auto;
  background-color: white;
  position: absolute;
  left: 100px;
  top: 60px;
  border-radius: 10px;
  border: 1px solid #bbbbbb;
  overflow: scroll;
  .search-inner {
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 10px;
    height: 40px;
    margin-top: 10px;
    border-radius: 10px;
    img {
      width: 40px;
      height: 40px;
      background-color: #797474;
      border-radius: 50%;
      object-fit: cover;
    }
    .name {
      font-family: system-ui;
      font-size: 18px;
    }
  }
  .search-inner:hover {
    background-color: #bbbbbb;
    cursor: pointer;
  }
}
