.like-container {
  display: flex;
  gap: 5px;
  flex-direction: column;
  justify-content: center;
  padding: 7px 10px;
  cursor: pointer;
  margin-bottom: -20px;

  .like-comment {
    display: grid;
    grid-template-columns: auto auto auto auto;
  }

  .comment-input {
    height: 35px;
    background-color: whitesmoke;
    padding-left: 10px;
    border-radius: 30px;
    border: 1px solid #4b4b4b;
    color: #949494;
    font-family: system-ui;
  }
  .comment-input:focus {
    outline: 1px solid #4b4b4b;
    color: #4b4b4b;
  }

  .add-comment-btn {
    width: 150px;
    height: 35px;
    background-color: #0a66c2;
    outline: none;
    cursor: pointer;
    border: none;
    color: white;
    border-radius: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .all-comments {
    display: flex;
    flex-direction: column;
    background-color: rgb(227, 227, 227);
    border-radius: 10px;
    position: relative;
    justify-content: center;
    margin: 10px 0;
    .name {
      color: #212121;
      text-decoration: none;
    }
    .comment {
      margin-left: 10px;
      margin-top: 0px;
    }
    .timestamp {
      position: absolute;
      right: 10px;
      top: 10px;
    }
  }
  .hr-line {
    margin-top: -17px;
    hr {
      border-top: 1px solid rgb(181, 181, 181);
    }
  }
  p {
    font-family: system-ui;
    font-weight: 400;
    font-size: 14px;
    color: rgba(58, 58, 58, 0.835);
    margin-left: 5px;
  }
  p:hover {
    color: #0a66c2;
    text-decoration: underline;
  }
  .likes-comment-inner {
    display: flex;
    align-items: center;
    margin-top: -20px;
    .black {
      color: rgba(58, 58, 58, 0.835);
    }
    .blue {
      color: #0a66c2;
    }
    p {
      font-family: system-ui;
      font-weight: 400;
      font-size: 16px;
      color: rgba(58, 58, 58, 0.835);
      margin-left: 5px;
    }
  }
}
